name: Keep App Alive

on:
  schedule:
    # Run every 12 hours (at 00:00 and 12:00 UTC)
    - cron: "0 0,12 * * *"
  workflow_dispatch: # Allows manual triggering

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Git config
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

      - name: Create empty commit
        run: |
          git commit --allow-empty -m "Auto-commit to keep app alive"
          git push
